.p {
    height: 300px;
    width: 300px;
    background-color: rgb(175, 29, 29);
}
.blue {
    background-color: rgb(27, 22, 168);
}
.opacity {
    /* background-color: rgb(175, 29, 29, 0.5); */
    opacity: 0.5;
}